#logo {
    width: 15%;
    height: 150px;
    vertical-align: baseline;

}

header {
    background-image: url('../img/pattern.png');
    width: 100%;
    height: 100px;
    background-size: contain;
    background-color: #00BFFF;
}

#sottotitolo, #data {
    color: lightslategray;
}

#titolo {
    margin-bottom: 5px;
        
}

#sottotitolo {
    margin-bottom: 0px;
    margin-top: 2px;

}

#data {
    font-size: 14px;
    margin-top: 2px;
}

#autore {
    color: #00BFFF
}

.didascalia {
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
}

ul {
    padding-left: 15px;
}