#logo {
    width: 15%;
    height: 150px;
    vertical-align: baseline;

}

header {
    background-image: url('../img/pattern.png');
    width: 100%;
    height: 100px;
    background-size: contain;
    background-color: #1E90FF;
}

#sottotitolo, #data {
    color: lightslategray;
}

#titolo {
    margin-bottom: 5px;

}

#sottotitolo {
    margin-bottom: 0px;
    margin-top: 2px;

}

#data {
    font-size: 14px;
    margin-top: 2px;
}

#autore {
    color: #00BFFF
}

.didascalia {
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
}

ul {
    padding-left: 15px;
}

.testata {
    background-color: rgb(22, 152, 233);
    color: white;
    text-align: left;
}

.evidenziato {
    background-color: yellow;
}

h3 {
    color: grey;
    font-size: 16px;
}

.immagine1 {
    background-image: url(../img/monitor.jpg);
    width: 250px;
    height: 208px;
}

.immagine2 {
    background-image: url(../img/graph.jpg);
    width: 250px;
    height: 207px;

}

.testo {
    color: white;
    font-size: 25px;
    font-weight: 700;
    padding-top: 10px;
    margin-top: 10px;
}

.azzurrino {
    background-color: rgb(150, 222, 247);
}

table {
    border-collapse: collapse;
}
.cella {
    width: 200px;
    height: 50px;
}

.col {
    width: 700px;
}

